{% extends 'tickets/layout.html'%}
{% block body%}
<div style = "background-color: blueviolet;"><h1 style = "padding-left: 10px; padding-bottom: 30px;">Welcome {{request.user.username}}!</h1></div>
<p style = "padding-left: 10px; font-size: 20px;"> You did it. All the hard work and long hours you have poured into your degree are about to pay off. 
    There’s still one thing left to do, so take a deep breath, relax and get ready to make a memory that will last a lifetime. 
    
</p>

<br>
<div style = "padding-left: 10px; font-size: 20px;"><p> Texas Wesleyan would like to cordially invite you, your friends 
    and your family to share this precious moment. Let's Rams up. It’s time to walk the stage and graduate. </p></div>
<br>
<div style = "background-color: yellow; color: red; padding-left: 20px;">
    Order Tickets Now >>> : <a href="{% url 'add'%}">Tickets</a>
</div>
<br>
<div style = " background-color: yellow;color: red;padding-left: 20px;">
    Edit Existing Ticket Requests Here >>> : <a href="">New Ticket Request</a>
</div>
<br>
<div style = "background-color: orange; margin:10px;">
    <a href="{% url 'logout' %}">Logout</a>
</div>


{%endblock%}