{% extends 'tickets/layout.html'%}
{% block body%}
<div id = "holder">
    <div style = "padding-bottom: 20px;" id="body">

        <div style = "margin-top: 1px;" class = "box">

        </div>
        <div style = "background-color: black;"><h1 style = "color:white; padding: 30px;">Welcome {{request.user.username}}!</h1></div>
        <p style = "padding-left: 10px; font-size: 20px; font-weight: bold;"> Congratulations, you did it! <br>
        <br>
          All the hard work and long hours have paid off. You only have one last thing to do, so take a deep breath, relax and get ready to make a memory that will last a lifetime.
        </p>

        <div style = "padding-left: 10px; font-size: 20px; font-weight: bold;"><p> Texas Wesleyan cordially invites you and your guests
        to share this memorable moment. Let's Rams up! It’s time to walk the stage and graduate. </p></div>
        <br>

        <div style = "padding-left: 10px; font-size: 20px;"><h2> Ticket Information</h2></div>
        <br>
        <ul>
        <div style = "padding-left: 10px; font-size: 20px;"><li> The Commencement ceremony is a ticketed event. All guests must have a ticket.</li></div>
        <br>

        <div style = "padding-left: 10px; font-size: 20px;"><li> Graduates who submit an RSVP during the designated RSVP period will receive 10 tickets.</li></div>
        <br>

        <div style = "padding-left: 10px; font-size: 20px;"><li> Seating is available on a first-come, first-serve basis.</li></div>
        <br>

        <div style = "padding-left: 10px; font-size: 20px;"><li> Doors open one hour prior to the start of the ceremony.</li></div>
        <br>

        <div style = "padding-left: 10px; font-size: 20px;"><li> Wheelchair-accessible seating is available on the first floor.</li></div>
        <br>
        </ul>

        <div style = "background-color: black; color: red; padding-left: 20px;">
            Order Tickets Now >>> : <a href="{% url 'add'%}">Tickets</a>
        </div>
        <br>

        <div style = " background-color: black; color: red;padding-left: 20px;">
            Note: Extra Ticket Link Will open April 28th: <a href="{% url 'extrat' %}">Order Extra Tickets</a>
        </div>
        <br>

        <div style = " background-color: black;color: red;padding-left: 20px;">
          For More Information Click Here >>> : <a href="https://txwes.edu/academics/office-of-the-provost/commencement/graduates/">Txwes Information</a>
        </div>
        <br>
    </div>
    <footer style = "height:20px;">
      <nav style = "padding-left: 50px;" class="bg-dark navbar navbar-expand-lg bg-body-tertiary" data-bs-theme = "dark">
              <div class="container-fluid" style = "margin:10px; margin-left: 0px; width:100%; padding-left: 5px position:absolute;">
                  <div>
                  <ul style = "font-size: 20px;" class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li  class="nav-item">
                      <a style = "color:white ;" class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
                    </li>

                    <li class="nav-item">
                      <a style = "color:white ;" class="nav-link active" aria-current="page" href="http://eoviosa.pythonanywhere.com/admin/login/?next=/admin/">Admin Panel</a>
                    </li>
                  </ul>
                  </div>
              </div>
          </nav>
    </footer>
</div>

{%endblock%}