{% extends 'tickets/layout.html'%}

{% block body%}
<div id = "holder">
    <div id="body" style = "padding-bottom: 800px;">
        {%if message%}
        <div style = "background-color: black; text-align:center;" >
            <h1 style = "font-family:TimesNewRoman; font-size: 40px; color: red; padding-left: 10px;"> {{message}}</h1>
        </div>
        {%endif%}

        <form action = "{% url 'new_password'%}" method = 'post' style = "height: 100%; padding:10px;">
            {% csrf_token%}
            {{forms.as_p}}
            <input type = 'Submit' value = "Submit">
        </form>

        <footer style = "height: 800px;">
            <div style = " height: 100%; background-color: black;" class ="box">

            </div>
        </footer>
    </div>
</div>

{% endblock%}