{% extends 'tickets/layout.html'%}
{%block body%}

<h1 style = "padding-left: 10px;">You Have Already Registered, with this Information: </h1>
<br>
<a style = "padding-left: 5px;"href="{% url 'index' %}">Home</a>
<br>
{%if message%}
        <div>
            <h3 style = "color: red; padding-left: 10px;"> Student ID Does Not Exist OR Was Entered Incorrectly</h3> 
        </div>
{%endif%}
    <tr>
        <td>{{information.first_name}}</td>
        <td>{{information.Last_name}}</td>
        <td>{{information.studentID}}</td>
        <td>{{information.tickets_ordered}}</td>
    </tr>

    <br>
<p style = "padding-left: 10px;">To Change Your Information and Submit Another Form, Comlete the Questions Below:
    <form action="{% url 'newForm'%}" method = 'POST'>
 {%csrf_token%}
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-control-input" id="exampleCheck1" required>
        <label class="form-check-label" for="exampleCheck1">Are You Sure You Want To Edit Your Submission? Previous Data Will be Deleted</label>
    </div>

    <div class="mb-3 form-check">
        <label class="form-check-label" type = num for="exampleCheck1">Enter Your Student ID </label>
        <input type="Text" class="form-control"  name = 'id' id="exampleCheck1" required >
        
      </div>
      <button style = "margin: 10px;"type="submit" class="btn btn-primary">Submit</button>
</form>

{%endblock%}