{% extends 'tickets/layout.html'%}
{%block body%}
<div style = "background-color: yellow;height: 40px;"><a style = "margin:40px; padding-left: 10px; padding-bottom: 40px;"href="{% url 'index' %}">Home</a></div>
<form action = "{% url 'add' %}" method="post">
    {%csrf_token%}
   <div class="mb-3"> 
    <label for="firstname" class="form-label" >First Name</label>
    <input type = Text class="form-control is-invalid has-validation"  name = "first" id = 'firstname' aria-describedby="validationServerFirstNameFeedback" required>
    </div>
    <div id="validationServerFirstNameFeedback" class="invalid-feedback">
      Please Enter a First Name.
    </div>

    <div class="mb-3"> 
        <label for="lastname" class="form-label">Last Name</label>
        <input type = Text class="form-control is-invalid has-validation"  name = "last" id = 'lastname' aria-describedby="validationServerLastNameFeedback" required>
       
    </div>

    <div id="validationServerLastNameFeedback" class="invalid-feedback">
        Please Enter a Last Name.
    </div>
   <div class="mb-3">
    <label for="studentid" class="form-label">Student ID</label>
    <input type = number class="form-control is-invalid has-validation"  name = "sid" id = 'studentid' aria-describedby="validationServerStudentIDFeedback" required>
    
    </div> 
   
    <div id="validationServerStudentIDFeedback" class="invalid-feedback">
        Please Enter a Student ID.
    </div>
    <div class="mb-3">
        <label for="num_of_tickets" class="form-label">Number Of Tickets</label>
        <select type = number class="form-select is-invalid" name = "tickets_number" id = num_of_tickets aria-describedby="validationServerTicketsFeedback" required>
            <option selected disabled value>Choose.....</option>
            {% for tickets in max_tickets%}
            <option type = number value={{tickets}}>{{tickets}}</option>
            {%endfor%}
            
            
    </div>
    <div id="validationServerTicketsFeedback" class="invalid-feedback">
        Please Choose a Value.
    </div>

    <div>
        <input  style="margin: 10px; color:blue;" type="submit" aria-placeholder="Submit">
    </div>
  
</form>

<br>
<div style = "background-color: yellow; padding-left: 10px;";>
    <a href="{% url 'logout' %}">Logout</a>
</div>
{%endblock%}