{% extends 'tickets/layout.html'%}
{%block body%}
<div class="alert alert-primary d-flex align-items-center" role="alert">
    <svg style = "height: 20px;" xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    <div>
      Hurry and Place orders for Tickets if You havent Already. There are {{available}} Extra Tickets Remaining!
    </div>
  </div>

<div style = "background-color: yellow;height: 40px;"><a style = "margin:40px; padding-left: 10px; padding-bottom: 40px;"href="{% url 'index' %}">Home</a></div>
<form action = "{% url 'add' %}" method="post">
    {%csrf_token%}
   <div class="mb-3"> 
    <label for="firstname" class="form-label" >First Name</label>
    <input type = Text class="form-control is-invalid has-validation"  name = "first" id = 'firstname' aria-describedby="validationServerFirstNameFeedback" required>
    </div>
    <div id="validationServerFirstNameFeedback" class="invalid-feedback">
      Please Enter a First Name.
    </div>

    <div class="mb-3"> 
        <label for="lastname" class="form-label">Last Name</label>
        <input type = Text class="form-control is-invalid has-validation"  name = "last" id = 'lastname' aria-describedby="validationServerLastNameFeedback" required>
       
    </div>

    <div id="validationServerLastNameFeedback" class="invalid-feedback">
        Please Enter a Last Name.
    </div>
   <div class="mb-3">
    <label for="studentid" class="form-label">Student ID</label>
    <input type = number class="form-control is-invalid has-validation"  name = "sid" id = 'studentid' aria-describedby="validationServerStudentIDFeedback" required>
    
    </div> 
   
    <div id="validationServerStudentIDFeedback" class="invalid-feedback">
        Please Enter a Student ID.
    </div>
    <div class="mb-3">
        <label for="base_num_of_tickets" class="form-label">Number Of Tickets</label>
        <select type = number class="form-select is-invalid" name = "base_number" id = base_num_of_tickets aria-describedby="validationServerTicketsFeedback" required>
            <option selected disabled value>Choose.....</option>
            {% for tickets in base_tickets%}
            <option type = number value={{tickets}}>{{tickets}}</option>
            {%endfor%}
        </select>
            

    </div>

    <div class="mb-3">
        <label for="extra_num_of_tickets" class="form-label">Number Of Tickets</label>
        <select type = number class="form-select is-invalid" name = "extra_number" id = extra_num_of_tickets aria-describedby="validationServerTicketsFeedback" required>
            <option selected disabled value>Choose.....</option>
            {% for tickets in extra_tickets%}
            <option type = number value={{tickets}}>{{tickets}}</option>
            {%endfor%}
        </select>
            

    </div>
    <div id="validationServerTicketsFeedback" class="invalid-feedback">
        Please Choose a Value.
    </div>

    <div>
        <input  style="margin: 10px; color:blue;" type="submit" aria-placeholder="Submit">
    </div>
  
</form>

<br>
<div style = "background-color: yellow; padding-left: 10;";>
    <a href="{% url 'logout' %}">Logout</a>
</div>
{%endblock%}