{% extends 'tickets/layout.html'%}
{%block body%}
<form action = "{% url 'add' %}" method="post">
    {%csrf_token%}
   <div class="mb-3"> 
    <label for="firstname" class="form-label">First Name</label>
    <input type = Text class="form-control"  name = firstname id = 'firstname'>
   
    </div>
    <div class="mb-3"> 
        <label for="lastname" class="form-label">Last Name</label>
        <input type = Text class="form-control"  name = lastname id = 'lastname'>
       
        </div>
   <div class="mb-3">
    <label for="studentid" class="form-label">Student ID</label>
    <input type = number class="form-control"  name = studentid id = 'studentid'>
    
    </div> 
   
    <div class="mb-3">
        <label for="num_of_tickets" class="form-label">Number Of Tickets</label>
        <select class="form-select" aria-label="num_of_tickets" id = num_of_tickets>
            <option selected>Choose a Value</option>
            {% for tickets in max_tickets%}
            <option type = number value={{tickets}}>{{tickets}}</option>
            {%endfor%}
            
            
    </div>
   
  
</form>
{%endblock%}